.profile-header {
  text-align: center;
  padding: 32px 16px;
  
  ion-avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto 16px;
    
    ion-icon {
      font-size: 100px;
      color: var(--ion-color-primary);
    }
  }

  h2 {
    font-size: 24px;
    margin: 0 0 8px 0;
  }

  p {
    color: var(--ion-color-medium);
    margin: 0 0 16px 0;
  }
}