ion-tab-bar {
  --background: var(--ion-background-color);
  border-top: 1px solid var(--ion-color-light);
}

ion-tab-button {
  --color: var(--ion-color-medium);
  --color-selected: var(--ion-color-primary);
  
  ion-icon {
    font-size: 24px;
  }

  ion-label {
    font-size: 12px;
    margin-top: 4px;
  }
}